html {
  font-size: 62.5%;
 }

body {
  font-size: 1.6rem;
}

button {
  display:block;
  margin:0 auto;
  width: 5rem;
}

p {
  overflow-wrap: break-word;
  text-align:center;
}

.api_get_text_area {
  display:block;
  margin:0 auto;
  width: 40rem;
  padding: 2rem 2rem;
}