<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style/application.css">
  <title>FrontEnd_a</title>
</head>
<body>
  <header></header>
  <main>
    <div class="main_contents">
      <p>通信状況：<span id="ajax_status"></span></p>
      <div class="api_get_text_area">
        <p><span id="api_text"></span></p>
      </div>
      <div>
        <button id="update_btn">更新</button>
      </div>
    <div>
  </main>
  <footer></footer>
  <script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
  <script src="../javascript/index.js"></script>
</body>
</html>